@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'libs';


.header {
  padding-top: 53px;
  padding-bottom: 48px;
  padding-left: 10px;
}

.menu,
.menu__box,
.menu__list {
  display: flex;
}

.menu {
  justify-content: space-between;
  align-items: center;

  &__box {
    align-items: center;
  }

  &__list {
    margin-right: 49px;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 45px;
    }

  }

  &__link {
    transition: color 0.3s, box-shadow 0.3s, text-shadow 0.3s;
    font-size: 18px;
    line-height: 1.2;

    &:focus {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
      border-radius: 5px;
    }

    &:hover {
      color: $orange-900;
    }

    &:active {
      text-shadow: 2px 2px 5px rgba($dark, 0.5);
      color: $dark;
    }

    &--active {
      color: $orange-900;
    }

  }

}


.user-nav {
  display: flex;

  &__item {

    &:not(:last-child) {
      margin-right: 10px;
    } 

  }

  &__btn {
    position: relative;
    padding: 13px 13px;
    transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;

    &::before {
      content: '';
      position: absolute;
      height: 19px;
      width: 19px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

      &:hover {
        filter: invert(45%) sepia(78%) saturate(2706%) hue-rotate(192deg) brightness(100%) contrast(103%);
      }

    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
      background-color: $hover-bg;
      color: $orange-900;
    }

    &:focus,
    &:hover,
    &:active {
      border-radius: 5px;
    }

    &:hover {
      background-color: $orange-900;
    }

    &:hover path,
    &:hover ellipse {
      stroke: $white;
    }

    &:hover .user-nav__num{
      background-color: $white;
      color: $orange-900;
    }

    &:active {
      box-shadow: none;
      background-color: $hover-bg;
      color: $orange-900;
    }

    &:active path,
    &:active ellipse {
      stroke: $darkBlue-900;
    }

    &:active .user-nav__num {
      background-color: $orange-900;
      color: $white;
    }

  }

  &__num {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $orange-900;
    top: 15%;
    right: 10%;
    font-size: 10px;
    color: $white;
    text-align: center;
    line-height: 1.4;
    transition: color 0.3s, background-color 0.3s, stroke 0.3s, fill 0.3s,;
  }

}


.delivery {
  padding-bottom: 124px;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__content {
    max-width: 450px;
    margin-right: 160px;
  }

  &__title {
    font-family: $rubik, sans-serif;
    font-weight: $fw-500;
    font-size: 66px;
    line-height: 1.3;
    color: $darkBlue-900;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__subtitle {
    color: $orange-900;
  }

  &__text {
    margin-bottom: 29px;
  }

  &__link-order {
    padding: 12px 34px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.3;
    margin-right: 29px;
  }

  &__img {
    object-fit: cover;
  }

}


.categories {
  text-align: center;
  padding-bottom: 109px;

  &__title,
  &__list {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
  }

}

.filters {
  display: flex;
  margin-bottom: 42px;

  &__item {

    &:not(:last-child) {
      margin-right: 18px;
    }

  }

  &__btn {
    padding: 19px 32px 22px 86px;
    border: 1px solid $silver-200;
    background-color: $white;
    color: $darkBlue-900;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;

    &:focus,
    &:hover,
    &:active {
      border-radius: 5px;
    }

    &:focus,
    &:hover {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
    }

    &:hover {
      background-color: rgba($hover-bg, 1);
      color: $orange-900;
    }

    &:active {
      background-color: $white;
      box-shadow: inset 0 -5px 12px rgba($orange-900, 0.2);
      color: $darkBlue-900;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10%;
      height: 44px;
      width: 55px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:hover::before {
      filter: invert(66%) sepia(43%) saturate(6559%) hue-rotate(336deg) brightness(100%) contrast(103%);
    }

    &:active::before {
      filter: invert(21%) sepia(10%) saturate(1884%) hue-rotate(198deg) brightness(89%) contrast(88%);
    }

    &--burgers::before {
      background-image: url("../images/sprite.svg#burgers");
    }
      
    &--pizza::before {
      background-image: url("../images/sprite.svg#pizza");
    }
      
    &--sandwiches::before {
      background-image: url("../images/sprite.svg#sandwiches");
    }
      
    &--asian::before {
      background-image: url("../images/sprite.svg#asian");
    }
      
    &--sets::before {
      background-image: url("../images/sprite.svg#sets");
    }

  }

}

.mixitup-control-active {
  background-color: $orange-900;
  color: $white;

  &.filters__btn::before {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }

  &.filters__btn:hover::before,
  &.filters__btn:active::before {
    filter: invert(19%) sepia(9%) saturate(2156%) hue-rotate(198deg) brightness(94%) contrast(87%);
  }

}

.product-card {
  max-width: 210px;
  width: 100%;
  border: 1px solid $silver-200;
  border-radius: 5px;
  text-align: center;
  background-color: $white;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
    border-radius: 5px;
  }
  
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 299px;
    padding: 20px 15px;
  }

  &__top {
    margin-bottom: 7px;
  }

  &__img {
    display: inline-block;
    object-fit: contain;
  }

  &__name {
    font-family: $rubik, sans-serif;
    font-weight: $fw-400;
    color: $dark;
    font-size: 15px;
    line-height: 18px;
  }

  &__price {
    display: block;
    font-family: $rubik, sans-serif;
    font-weight: $fw-500;
    color: $darkBlue-900;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  &__btn {
    padding: 7px 16px;
    border-radius: 6px;
  }

}


.benefit {
  padding-bottom: 128px;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    margin-right: 120px;
    object-fit: cover;
  }

  &__content {
    max-width: 470px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 36px;
  }

  &__item {
    font-size: 24px;
    padding-left: 64px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 34px;
      height: 34px;
      top: 0;
      left: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: cneter center;
    }

    &--timer::before {
      background-image: url("../images/icons/timer.svg");
    }

    &--delivery::before {
      background-image: url("../images/icons/delivery.svg");
    }

    &--restaurant::before {
      background-image: url("../images/icons/restaurant.svg");
    }

  }

  &__btn {
    padding: 12px 32px;
    font-size: 18px;
  }

}


.restaurants {
  padding-bottom: 120px;

  &__title {
    margin-bottom: 45px;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__item {
    box-shadow: 0 3px 3px rgba($black, 0.1);
    border-radius: 10px;
    min-height: 419px;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 3px 15px rgba($orange-900, 0.5);
      border-radius: 10px;
    }

  }

  &__img {
    background-size: cover;
    margin-bottom: 15px;
  }

  &__name {
    font-size: 24px;
    line-height: 1.3;
    font-weight: $fw-400;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  &__bottom {
    display: flex;
  }

  &__time {
    padding-left: 52px;
    margin-right: 110px;
    font-weight: $fw-300;
    font-size: 18px;
    line-height: 30px;
    opacity: 0.9;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 22px;
      width: 22px;
      left: 13%;
      top: 10%;
      background-image: url("../images/icons/time.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

  }

  &__btn {
    background-color: $orange-900;
    width: 79px;
    height: 33px;
    border-radius: 20px;
    position: relative;
    transition: box-shadow 0.3s, background-color 0.3s;

    &:focus {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
      background-color: $hover-bg;
    }

    &:hover {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
      background-color: $white;
    }

    &:active {
      box-shadow: none;
      background-color: $hover-bg;
    }

    &::before {
      content: '';
      position: absolute;
      height: 22px;
      width: 22px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../images/sprite.svg#restaurants-arrow");
      filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(291deg) brightness(111%) contrast(99%);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      transition: left 0.3s;
    }
    &:focus::before,
    &:hover::before {
      filter: invert(50%) sepia(83%) saturate(2909%) hue-rotate(339deg) brightness(110%) contrast(101%);
    }
    &:hover::before {
      left: 80%;
    }
    &:active::before {
      left: 50%;
    }

  }

}


.reviews {
  margin-bottom: 194px;

  &__title {
    text-align: center;
    margin-bottom: 49px;
  }

  &__inner {
    display: flex;
    align-items: center;
    margin-left: 90px;
  }

  &__img {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 80px;
  }

  &__text {
    max-width: 570px;
    font-style: italic;
    margin-bottom: 30px;
    position: relative;
    
    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 19px;
      background-size: contain;
      background-position: cnetr center;
      background-repeat: no-repeat;
    }
    
    &::after {
      top: 0;
      left: -7%;
      background-image: url("../images/icons/reviews-left.svg");
    }
    
    &::before {
      bottom: 0;
      right: -7%;
      background-image: url("../images/icons/reviews-right.svg");
    }

  }

  &__name {
    display: block;
    font-weight: $fw-500;
    line-height: 1.3;
    color: $orange-900;
    margin-bottom: 6px;
  }

  &__post {
    font-size: 14px;
    line-height: 1.3;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);

    li {
      padding: 0 7px;

      button {
        font-size: 0;
        background-color: $grey;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        &:focus {
          box-shadow: 0 0 0 2px $orange-900;
        }

        &:hover {
          box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
          background-color: $hover-bg;
        }

        &:active {
          background-color: rgba($orange-900, 0.7);
        }

      }

      &.slick-active {

        button {
          background-color: $orange-900;
        }

      }

    }

  }

  .slick-prev,
  .slick-next {
    position: absolute;
    bottom: -24%;

    &:focus {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
      border-radius: 50%;
    }

    &:hover {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
      border-radius: 50%;
    }

  }

  .slick-prev {
    right: 56%;
  }

  .slick-next {
    right: 40%;
  }

}


.application {
  margin-bottom: 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 540px;
  }

  &__title {
    margin-bottom: 45px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__download {
    display: flex;
  }

  &__link {

    &:not(:last-child) {
      margin-right: 30px;
    }

  }
  
}


.footer {
  font-family: $rubik, sans-serif;
  font-weight: $fw-400;
  font-size: 14px;
  line-height: 1.3;

  &__top {
    padding-bottom: 63px;
  }

  &__top,
  &__copy {
    display: flex;
  }
    
  &__box {

    &:not(:last-child) {
      margin-right: 73px;
    }

  }
    
  &__logo {
    display: block;
    margin-bottom: 24px;
  }
    
  &__field {
    max-width: 200px;
    padding: 13px 15px;
    border: 1px solid $grey;
    border-radius: 5px;
    margin-bottom: 12px;
    transition: box-shadow 0.3s;
    
    &::placeholder {
      color: $grey;
      transition: color 0.3s;
    }
    
    &:focus {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
      border: 1px solid transparent;
      border-radius: 5px;
    }
    
    &:hover::placeholder {
      color: $darkBlue-900;
    }
    
  }  
    
  &__btn {
    display: block;
    font-family: $rubik, sans-serif;
    font-weight: $fw-500;
    padding: 13px 50px 13px 70px;
    max-width: 200px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 50%;
      transform: translateY(-50%);
      left: 20%;
      background-image: url("../images/sprite.svg#subscribe");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(187deg) brightness(108%) contrast(103%);
    }

    &:focus::before,
    &:hover::before,
    &:active::before {
      filter: invert(66%) sepia(43%) saturate(6559%) hue-rotate(336deg) brightness(100%) contrast(103%);
    }
    
  }
    
  &__items {
    display: flex;
    margin-right: 70px;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 19px;
    }

  }
    
  &__link {
    transition: color 0.3s, box-shadow 0.3s, text-shadow 0.3s;
    font-size: 18px;
  
    &:focus {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
      border-radius: 5px;
    }
  
    &:hover {
      color: $orange-900;
    }
  
    &:active {
      text-shadow: 2px 2px 5px rgba($dark, 0.5);
      color: $dark;
    }
    
  }

  &__copy {
    justify-content: center;
    padding: 25px 0;
    line-height: 1;
    border-top: 1px solid rgba($grey, 0.2);
  }

}  

.contacts {
  &__item {
    position: relative;
    margin-bottom: 14px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &--location::before {
      background-image: url("../images/icons/location.svg");
    }
      
    &--phone::before {
      background-image: url("../images/icons/phone.svg");
    }
      
    &--message::before {
      background-image: url("../images/icons/message.svg");
    }

  }
       
  &__link {
    font-size: 16px;
    line-height: 2;
    padding-left: 31px;
  }

  &__social-list {
    display: flex;
  }
    
  &__social-item {

    &:not(:last-child) {
      margin-right: 13px;
    }

  }

  &__social-link circle,
  &__social-link path {
    transition: all 0.3s;
  }

  &__social-link:focus svg {
    box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
    border-radius: 50%;
  }

  &__social-link:active svg {
    box-shadow: none;
  }

  &__social-link:focus circle {
    fill: $hover-bg;
  }

  &__social-link:hover circle {
    fill: $orange-900;
  }

  &__social-link:hover path {
    fill: $white;
  }

  &__social-link:active circle {
    fill: $hover-bg;
  }

  &__social-link:active path {
    fill: $orange-900;
  }

}