<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Food - сервис быстрой доставки | Главная страница</title>
  <link rel="icon" href="images/favicon.svg" type="image/x-icon">
  <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="css/catalog.min.css">
</head>

<body>

  <div class="wrapper">

    {% include 'app/module/_header/_header.html' %}

    <main class="main">
      {% include 'app/module/_breadcrumbs/_breadcrumbs.html' %}
      {% include 'app/module/_application/_application.html' %}
      {% include 'app/module/_discounts/_discounts.html' %}
    </main>

    {% include 'app/module/_footer/_footer.html' %}

  </div>
  <script src="js/main.min.js"></script>

</body>

</html>