.reviews {
  margin-bottom: 194px;

  &__title {
    text-align: center;
    margin-bottom: 49px;
  }

  &__inner {
    display: flex;
    align-items: center;
    margin-left: 90px;
  }

  &__img {
    border-radius: 50%;
    object-fit: cover;
    margin-right: 80px;
  }

  &__text {
    max-width: 570px;
    font-style: italic;
    margin-bottom: 30px;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 19px;
      background-size: contain;
      background-position: cnetr center;
      background-repeat: no-repeat;
    }

    &::after {
      top: 0;
      left: -7%;
      background-image: url("../images/icons/reviews-left.svg");
    }

    &::before {
      bottom: 0;
      right: -7%;
      background-image: url("../images/icons/reviews-right.svg");
    }

  }

  &__name {
    display: block;
    font-weight: $fw-500;
    line-height: 1.3;
    color: $orange-900;
    margin-bottom: 6px;
  }

  &__post {
    font-size: 14px;
    line-height: 1.3;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);

    li {
      padding: 0 7px;

      button {
        font-size: 0;
        background-color: $grey;
        width: 15px;
        height: 15px;
        border-radius: 50%;

        &:focus {
          box-shadow: 0 0 0 2px $orange-900;
        }

        &:hover {
          box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
          background-color: $hover-bg;
        }

        &:active {
          background-color: rgba($orange-900, 0.7);
        }

      }

      &.slick-active {

        button {
          background-color: $orange-900;
        }

      }

    }

  }

  .slick-prev,
  .slick-next {
    position: absolute;
    bottom: -24%;

    &:focus {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
      border-radius: 50%;
    }

    &:hover {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
      border-radius: 50%;
    }

  }

  .slick-prev {
    right: 56%;
  }

  .slick-next {
    right: 40%;
  }

}